<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bird Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}   
  
    

    <audio id="bg-audio" loop>
        <source src="/static/birdfish-happy-loop-6199.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</body>
</html>

<script>
    const toggleBtn = document.getElementById('audio-toggle');
    const audio = document.getElementById('bg-audio');
    let isPlaying = false;

    toggleBtn.addEventListener('click', () => {
        if (isPlaying) {
            audio.pause();
        } else {
            audio.play();
        }
        isPlaying = !isPlaying;
    });
</script>

