{% extends "base.html" %}

{% block content %}
<div class="centering-body">
    <img src="/static/hook.png" class="hook">
    <form method="POST" class="form-format">
        <div class="form-row">
            <input type="text" name="username" placeholder="Username" required><br> 
        </div>
        
        <div class="form-row">
        <input type="password" name="password" placeholder="Password" required><br>  
        </div>
        
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p> 
</div>

{% endblock %}
